@use '../global' as *;
@use 'nav' as *;
@use 'footer' as *;







  .product-card {    
    border-radius: 1rem;
    
    text-align: center;
    padding-bottom: 10rem;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  .product-card img {
    border-radius: .2rem;
    margin-bottom: 1rem;
    object-fit: contain;
  }
  
  .product-info {
    text-align: left;
    margin-bottom: 1rem;
  }
  

  
.shop{
  margin-top: 10rem;
}
.filters{
  justify-content: flex-end;
  padding-right: 1rem;
  text-align: center;
  p, button{
    margin-left: 3rem;
  }
}
.intro-edit{
  margin-bottom: -5rem;
}
.info{
  h1{margin-bottom: 1rem;}
}
.product-info-edit{

  h2{margin-bottom: 1rem;}
  
}
.product-card-edit{
  margin-left: 2rem;
  margin-right: 2rem;
  
  
}
.product-info{
  button{margin-top: 1rem;}
  
}
.spacing{
  margin-bottom: -10rem;
  
}
.shop-section{
  margin-bottom: 10rem;
}
